@using DevExpress.Blazor
@inject IThemeChangeService ThemeChangeService
@inject CursilloWeb.Services.ThemeState ThemeState

<div class="px-3 py-2">
    <label class="form-label">Select Theme</label>
    <DxComboBox Data="@Themes"
                Value="@ThemeState.SelectedTheme"
                ValueChanged="@((ITheme theme) => OnThemeChanged(theme))"
                TextFieldName="Name" />
</div>

@code {
    private List<ITheme> Themes = new() { DevExpress.Blazor.Themes.BlazingBerry, DevExpress.Blazor.Themes.BlazingDark, DevExpress.Blazor.Themes.Purple, DevExpress.Blazor.Themes.OfficeWhite };

    private async Task OnThemeChanged(ITheme theme)
    {
        ThemeState.SelectedTheme = theme;
        await ThemeChangeService.SetTheme(theme);
    }
}
